[Desktop Entry]
Type=Service
Name=Video Files (MPlayerThumbs)
Name[da]=Videofiler (MPlayerThumbs)
Name[pt]=Ficheiros de Vídeo (MPlayerThumbs)
Name[pt_BR]=Arquivos de vídeo (MPlayerThumbs)
Name[sv]=Videofiler (Mplayer miniatyrbilder)
Name[uk]=Файли відео (MPlayerThumbs)
Name[zh_TW]=影像檔（MPlayer Thumbs）
ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/*;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=videopreview
