[Desktop Entry]
Type=Service
Name=Video Files (MPlayerThumbs)
Name[el]=Αρχεία βίντεο (MPlayerThumbs)
Name[es]=Archivos de vídeo (miniaturas de MPlayer)
Name[et]=Videofailid (MPlayerThumbs)
Name[fr]=Fichiers vidéo (MPlayerThumbs)
Name[ga]=Comhaid Fhíse (MPlayerThumbs)
Name[gl]=Ficheiros de vídeo (MPlayerThumbs)
Name[km]=ឯកសារ​វីដេអូ (រូបភាព​តូចៗ​របស់ MPlayer)
Name[pt]=Ficheiros de Vídeo (MPlayerThumbs)
Name[pt_BR]=Arquivos de Vídeo (MPlayerThumbs)
Name[sk]=Video súbory (MPlayerThumbs)
Name[sv]=Videofiler (Mplayer miniatyrbilder)
Name[tr]=Video Dosyaları (MPlayerThumbs)
Name[uk]=Файли відео (MPlayerThumbs)
Name[x-test]=xxVideo Files (MPlayerThumbs)xx
ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/*;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=videopreview
