[Desktop Entry]
Type=Service
Name=Video Files (MPlayerThumbs)
Name[ar]=ملفات الفيديو (MPlayerThumbs)
Name[bg]=Видео файлове (MPlayerThumbs)
Name[bs]=Video datoteke (MPlayerThumbs)
Name[ca]=Fitxers de vídeo (Miniatures del MPlayer)
Name[ca@valencia]=Fitxers de vídeo (Miniatures de l'MPlayer)
Name[cs]=Soubory videa (MPlayerThumbs)
Name[da]=Videofiler (MPlayerThumbs)
Name[de]=Video-Dateien (MPlayerThumbs)
Name[el]=Αρχεία βίντεο (MPlayerThumbs)
Name[en_GB]=Video Files (MPlayerThumbs)
Name[es]=Archivos de vídeo (MPlayerThumbs)
Name[et]=Videofailid (MPlayerThumbs)
Name[fi]=Videotiedostot (MPlayerThumbs)
Name[fr]=Fichiers vidéo (MPlayerThumbs)
Name[ga]=Comhaid Fhíse (MPlayerThumbs)
Name[gl]=Ficheiros de vídeo (MPlayerThumbs)
Name[hu]=Videofájlok (MplayerThumbs)
Name[ia]=Files Video (MPlayer Thumbs)
Name[is]=Vídeóskrár (MPlayerThumbs)
Name[it]=File video (MPlayerThumbs)
Name[ja]=動画ファイル (MPlayerThumbs)
Name[kk]=Видео файлдар (MPlayerThumbs)
Name[km]=ឯកសារ​វីដេអូ (MPlayerThumbs)
Name[ko]=동영상 파일 (MPlayerThumbs)
Name[lt]=Video failai (MPlayerThumbs)
Name[mr]=व्हिडीओ फाईल्स (MPlayerThumbs)
Name[nb]=Videofiler (Mplayer minibilder)
Name[nds]=Videodateien (MPlayer-Vöransichten)
Name[nl]=Videobestanden (MPlayer-miniaturen)
Name[nn]=Videofiler (MPlayerThumbs)
Name[pa]=ਵਿਡੀਓ ਫਾਇਲਾਂ (MPlayerThumbs)
Name[pl]=Pliki filmów (MPlayerThumbs)
Name[pt]=Ficheiros de Vídeo (MPlayerThumbs)
Name[pt_BR]=Arquivos de vídeo (MPlayerThumbs)
Name[ro]=Fișiere video (MPlayerThumbs)
Name[ru]=Видеофайлы (MPlayerThumbs)
Name[sk]=Video súbory (MPlayerThumbs)
Name[sl]=Datoteke z videom (MPlayerThumbs)
Name[sr]=Видео фајлови (сличице М‑плејером)
Name[sr@ijekavian]=Видео фајлови (сличице М‑плејером)
Name[sr@ijekavianlatin]=Video fajlovi (sličice MPlayerom)
Name[sr@latin]=Video fajlovi (sličice MPlayerom)
Name[sv]=Videofiler (Mplayer miniatyrbilder)
Name[tr]=Video Dosyaları (MPlayerThumbs)
Name[ug]=سىن ھۆججەتلەر (MPlayerThumbs)
Name[uk]=Файли відео (MPlayerThumbs)
Name[x-test]=xxVideo Files (MPlayerThumbs)xx
Name[zh_CN]=视频文件(MPlayerThumbs)
Name[zh_TW]=影像檔（MPlayer Thumbs）
ServiceTypes=ThumbCreator
CacheThumbnail=true
IgnoreMaximumSize=true
MimeType=video/*;application/vnd.ms-asf;application/vnd.rn-realmedia;
X-KDE-Library=videopreview
HandleSequences=true
